.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
    width: 1200px;
    height: 700px;
    border: solid #eee 1px;
}

.step:not(.step-title) {
    padding: 50px;
}

.step.active:not(.spoiler) {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(250, 250, 250)), to(rgb(255, 255, 255)));
    background: -webkit-radial-gradient(rgb(250, 250, 250), rgb(255, 255, 255));
    background:    -moz-radial-gradient(rgb(250, 250, 250), rgb(255, 255, 255));
    background:      -o-radial-gradient(rgb(250, 250, 250), rgb(255, 255, 255));
    background:         radial-gradient(rgb(250, 250, 250), rgb(255, 255, 255));
}

.step:not(.active):not(.nested-active) {
    opacity: 0.1;
}

.nested-steps .step.visited:not(.nested-active):not(.active) {
    opacity: 0.5;
}

.spoiler:not(.active):not(.nested-active):not(.visited) {
    opacity: 0;
}

.nested-steps .step:not(.active):not(.visited) {
    opacity: 0;
}

.step h1 {
    font-size: 45pt;
}

.step p, .step li {
    font-size: 26pt;
}

.step h1 {
    margin-bottom: 60px;
}

.jumbotron {
    height: 100%;
}

.jumbotron h1 {
    margin-bottom: 60px;
}

.jumbotron footer {
    margin-top: 160px;
}

.margin-a-lot {
    margin-top: 150px;
}

.text-giant {
    font-size: 128px;
}

blockquote footer {
    font-size: 100% !important;
}

img.graph {
    max-width: 100%;
    max-height: 100%;
}

img.scale-to-fit-h {
    height: 700px;
}

#overview {
    border: none;
    background: transparent;
}

.text-mono {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}