.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
    width: 1200px;
}

.step-slide {
    height: 700px;
    border: solid #eee 1px;
}

.step:not(.step-title) {
    padding: 50px;
}

.step:not(.active):not(.nested-active) {
    opacity: 0.1;
}

.nested-steps .step.visited:not(.nested-active):not(.active) {
    opacity: 0.5;
}

.spoiler:not(.active):not(.nested-active):not(.visited) {
    opacity: 0;
}

.nested-steps .step:not(.active):not(.visited) {
    opacity: 0;
}

.step h1 {
    font-size: 45pt;
}

.step p, .step li {
    font-size: 26pt;
    font-weight: 200;
}

pre, pre span {
    font-size: 20pt;
}

.step h1 {
    margin-bottom: 60px;
}

.jumbotron {
    height: 100%;
}

.jumbotron h1 {
    margin-bottom: 60px;
}

.jumbotron footer {
    margin-top: 160px;
}

.margin-a-lot {
    margin-top: 150px;
}

.text-giant {
    font-size: 128px;
}

blockquote footer {
    font-size: 18pt !important;
}

img.graph {
    max-width: 100%;
    max-height: 100%;
}

img.scale-to-fit-h {
    height: 700px;
}

#overview {
    border: none;
    background: transparent;
}

.text-mono {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

h1.text-smaller {
    font-size: 40pt;
}