.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
    width: 1200px;
}

.step-slide {
    height: 700px;
    border: solid #eee 1px;
}

.no-borders .step-slide {
    border: none !important;
}

.step:not(.step-title) {
    padding: 50px;
}

.step:not(.active):not(.nested-active) {
    opacity: 0.8;
}

.step-overview .step:not(.active):not(.nested-active):not(.very-spoiler),
.step-overview .will-fade,
.step-overview .do-fade {
    opacity: 0.8 !important;
}

.nested-steps .step.visited:not(.nested-active):not(.active) {
    opacity: 1;
}

.spoiler:not(.active):not(.nested-active):not(.visited) {
    opacity: 0;
}

.nested-steps .step:not(.active):not(.visited) {
    opacity: 0;
}

.step h1 {
    font-size: 45pt;
}

.step p, .step li {
    font-size: 26pt;
    font-weight: 200;
}

pre, pre span {
    font-size: 20pt;
}

.step h1 {
    margin-bottom: 60px;
}

.jumbotron {
    height: 100%;
}

.jumbotron h1 {
    margin-bottom: 10px;
}

.jumbotron h2 {
    font-size: 38pt;
    margin-bottom: 60px;
}

.jumbotron footer h2 {
    margin-bottom: 10px;
}

.jumbotron footer {
    margin-top: 160px;
}

.margin-a-lot {
    margin-top: 150px;
}

.text-giant {
    font-size: 128px !important;
}

.text-really-giant {
    font-size: 256px !important;
}

.text-bigger {
    font-size: 96px;
}

blockquote footer {
    font-size: 18pt !important;
}

img.graph {
    max-width: 100%;
    max-height: 100%;
}

img.scale-to-fit-h {
    height: 700px;
}

#overview {
    border: none;
    background: transparent;
}

.text-mono {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

h1.text-smaller {
    font-size: 40pt;
}

#laser {
    cursor: none;
    width: 2px;
    height: 2px;
    background-color: #FF0000;
    box-shadow: 0px 0px 7px 2px #FF0000;
    position: absolute;
    z-index: 999999999999 !important;
}

body {
    cursor: none;
}

.text-highlighted {
    background-color: #afa;
    border: dashed #333 2px;
    padding: 3px;
}

.text-v-center {
    line-height: 500px !important;
}

.text-v-center h1 {
    display: inline-block !important;
    vertical-align: middle !important;
    margin: 0px !important;
    padding: 0px !important;
}

.qr img {
    height: 450px;
}

.qr a {
    font-size: 60px;
    line-height: 85px;
}

.table-big-text * {
    font-size: 30px;
}

.text-mid {
    font-size: 40px;
}

.text-v-top {
    margin-bottom: 0px !important
}

h1.text-v-top {
    margin-top: -10px;
}

h2.text-v-top {
    margin-top: 12px;
}

.left-tit img, .right-tit img {
    max-height: 400px;
}

ul.legend * {
    font-size: 20px;
}

ul.legend {
    margin-top: 100px;
}

ul.legend li {
    padding-bottom: 30px;
}

.box {
    width: 18px;
    height: 18px;
    display: inline-block;
    border: solid #666 1px;
}

.legend-smaller-part .box {
    background-color: #cfe2f3;
}

.legend-bigger-part .box {
    background-color: #fce5cd;
}

.legend span.text-mono {
    line-height: 20px;
    vertical-align: top;
    font-weight: bold;
}

.todo {
    background-color: #FFAAAA;
}

.text-underlined {
    text-decoration: underline;
}

.annotation {
    margin-bottom: -70px;
    font-size: 20px;
    line-height: 40px;
}

.dashed-border {
    border-style: dashed !important;
    border-width: 3px !important;
}

.covered {
    background-color: #ccffcc;
}

.not-covered {
    background-color: #ffcccc;
}

.table td {
    vertical-align: middle !important;
}

.table .progress {
    margin-bottom: 0px;
}

.well .img-rounded {
    border-radius: 10px;
}

.attention-here {
    border: dashed #333333 2px;
    background-color: #eeeeff !important;
    padding: 4px;
}

.demotivator {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.demotivator img {
    height: 70%;
    border: solid #ffffff 1px;
    padding: 2px;
}

.demotivator h1.top {
    margin-top: -15px !important;
    margin-bottom: 30px !important;
}


.demotivator h1.bottom {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.nb {
    border: dashed #ddd 2px;
    padding: 3px;
}

.prettyprint.smaller * {
    font-size: 22px !important;
}

.commons .linenums {
    margin-left: 30px;
}

#slowpoke img {
    position: relative;
    bottom: 600px;
    left: 800px;
    height: 600px;
}
#slowpoke-2 img {
    position: relative;
    left: 600px;
    bottom: 400px;
    height: 300px;
}

#sponsors {
    background-color: rgba(210, 210, 210, 0.5);
}

#sponsors img {
    margin: auto;
}

#sponsors .platinum img {
    max-height: 150px;
}

#sponsors .golden img {
    max-height: 100px;
}

#sponsors .silver img {
    max-height: 50px;
}

#sponsors .h1, #sponsors h1 {
    margin-bottom: 20px !important;
}

.navbar-text {
    font-size: 13pt;
}