h2 {
    font-size: 40px;
}

h1 {
    font-size: 70px;
}

@font-face { font-family: SECRET_NDA; src: url('../font/SECRET_NDA.otf'); }

body {
    font-family: SECRET_NDA, Arial;

    min-height: 740px;

    background: rgb(255, 255, 255);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(250, 250, 250)), to(rgb(255, 255, 255)));
    background: -webkit-radial-gradient(rgb(250, 250, 250), rgb(255, 255, 255));
    background:    -moz-radial-gradient(rgb(250, 250, 250), rgb(255, 255, 255));
    background:      -o-radial-gradient(rgb(250, 250, 250), rgb(255, 255, 255));
    background:         radial-gradient(rgb(250, 250, 250), rgb(255, 255, 255));

    -webkit-font-smoothing: antialiased;
}

b, strong { font-weight: bold }
i, em { font-style: italic}

.step {
    width: 1000px;
    padding: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-size: 28px;
}

/* fade out inactive slides */

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.step:not(.active):not(.nested-active) {
    opacity: 0.1;
}

.nested-steps .step.visited:not(.nested-active):not(.active) {
    opacity: 0.5;
}

.spoiler:not(.active):not(.nested-active):not(.visited) {
    opacity: 0;
}

.nested-steps .step:not(.active):not(.visited) {
    opacity: 0;
}

.slide {
    display: block;

    width: 1000px;
    height: 700px;

    padding: 40px 60px;

    border-radius: 10px;

    background-color: white;

    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

.mono {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.prettyprint {
    font-size: 14pt !important;
}

.console {
    background-color: black;
    color: white;
    font-size: 14pt !important;
}

.fc {
    background-color:#ccffcc;
}

.nc {
    background-color:#ffcccc;
}

.pc {
    background-color:#ffffcc;
}

.success {
    color: #006400;
}

.fail {
    color: #8b0000;
}

.line-numbers {
    width: 3em;
    font-size: 14pt !important;
}

.mutation-list {
    font-size: 14pt !important;
}

.mutation-list li {
    margin-top: 10px;
}

.nb {
    margin: 5px;
    padding: 5px;
    border: dashed darkred 2px;
    display: inline-block;
    background-color: #fafad2;
}

.remark {
    color: #a9a9a9;
}